In [3]:
import pandas as pd
import numpy as np

In [4]:
gongo = pd.read_csv('..\\concatdataset\\gongo_df.csv')

### 필요없는 열 삭제

In [5]:
# 직무(복수선택) 열 삭제
gongo.drop(['직무(복수선택)'],axis=1, inplace=True)

In [7]:
# check
len(gongo)

5744

### 데이터 타입 변환

In [8]:
# '스킬' 열 str -> 리스트로 변환
for i in range(len(gongo)):
  gongo['스킬'][i] = gongo['스킬'][i].strip("[").strip("]").replace("'","").split(", ")

In [9]:
# '직무_lv1' 열 str -> 리스트로 변환
for i in range(len(gongo)):
  gongo['직무_lv1'][i] = gongo['직무_lv1'][i].strip("[").strip("]").replace("'","").split(", ")

In [10]:
# '직무_lv2' 열 str -> 리스트로 변환
for i in range(len(gongo)):
  gongo['직무_lv2'][i] = gongo['직무_lv2'][i].strip("[").strip("]").replace("'","").split(", ")

### 직무_lv1 unique 값 찾기

In [12]:
# 직무_lv1 열의 value_counts 구하기
job_lv1 = gongo['직무_lv1'].value_counts().index

# 직무_lv1이 하나의 값만 갖는 경우 리스트에 추가
job_lv1_list = []
for job in job_lv1:
  if len(job)==1:
    job_lv1_list.append(job[0])
job_lv1_list

['개발',
 '마케팅/시장조사',
 '기획/경영',
 '영업/제휴',
 '디자인',
 '데이터',
 '인사/총무',
 '서비스/고객지원',
 '금융/재무',
 '미디어/홍보',
 '생산/제조',
 '생산관리/품질관리',
 '엔지니어링',
 '유통/무역',
 '연구개발',
 '법률/법무',
 '교육',
 '전문직',
 '의약']

### 직무_lv2 unique 값 찾기

In [ ]:
# 직무_lv2 열의 value_counts 구하기
job_lv2 = gongo['직무_lv2'].value_counts().index

# 직무_lv1이 하나의 값만 갖는 경우 리스트에 추가
job_lv2_list = []
for job in job_lv2:
  if len(job)==1:
    job_lv2_list.append(job[0])
job_lv2_list

### 직무 lv1 데이터프레임 생성

In [23]:
# 직무 lv1 데이터프레임 생성
job_lv1_df = pd.DataFrame(columns = job_lv1_list)
job_lv1_df
job_lv1_df['index'] = gongo.index

In [25]:
# 직무 lv1 데이터프레임에 각 데이터별 해당되는 직무 컬럼이 있으면 1값 부여
for i, job in enumerate(gongo['직무_lv1']):
  for category_job in job_lv1_list:
    if category_job in job:
      job_lv1_df.loc[i,category_job] = 1
job_lv1_df.fillna(0, inplace=True)

In [26]:
# check
len(job_lv1_df)

5744

In [27]:
# csv파일로 저장
job_lv1_df.to_csv('.\\job_lv1_df.csv', encoding="utf-8-sig", index=False)

### 직무 lv2 데이터프레임 생성

In [28]:
# 직무 lv2 데이터프레임 생성
job_lv2_df = pd.DataFrame(columns = job_lv2_list)
job_lv2_df
job_lv2_df['index'] = gongo.index

In [29]:
# 직무 lv2 데이터프레임에 각 데이터별 해당되는 직무 컬럼이 있으면 1값 부여
for i, job in enumerate(gongo['직무_lv2']):
  for category_job in job_lv2_list:
    if category_job in job:
      job_lv2_df.loc[i,category_job] = 1
job_lv2_df.fillna(0, inplace=True)

In [30]:
# check
len(job_lv2_df)

5744

In [31]:
# csv파일로 저장
job_lv2_df.to_csv('.\\job_lv2_df.csv', encoding="utf-8-sig", index=False)

In [32]:
job_lv1_df = pd.read_csv('.\\job_lv1_df.csv')
job_lv2_df = pd.read_csv('.\\job_lv2_df.csv')

In [33]:
job_lv1_df[:3]

,개발,마케팅/시장조사,기획/경영,영업/제휴,디자인,데이터,인사/총무,서비스/고객지원,금융/재무,미디어/홍보,생산/제조,생산관리/품질관리,엔지니어링,유통/무역,연구개발,법률/법무,교육,전문직,의약,index
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2

In [39]:
for column in job_lv1_df.columns:
  print(column,len(job_lv1_df[job_lv1_df[column]==1]))

개발 1838
마케팅/시장조사 921
기획/경영 658
영업/제휴 633
디자인 430
데이터 189
인사/총무 157
서비스/고객지원 164
금융/재무 154
미디어/홍보 130
생산/제조 120
생산관리/품질관리 90
엔지니어링 88
유통/무역 86
연구개발 91
법률/법무 24
교육 32
전문직 19
의약 8
index 1

In [ ]:
for column in job_lv2_df.columns:
  print(column,len(job_lv2_df[job_lv2_df[column]==1]))

특정 직무 컬럼 값이 1인 데이터의 index 번호 가져와서 분석하면 될 듯

### 기업 소개 ~ 우대사항 컬럼의 nan값 채우기

In [36]:
# check
gongo[:3]

,회사명,고용 형태,스킬,기업 소개,주요 업무,자격 요건,우대 사항,채용 절차,복리후생,회사위치,직무_lv1,직무_lv2
0,캐롯손해보험(주),정규직,"[Oracle, BI, SQL, dw, etl]","캐롯손해보험은 한화, SKT, 현대자동차, 알토스벤쳐스, 스틱인베스트먼트 등 대형 ...",• 캐롯 주행/계약 관련 지표 생성 및 제공해요.\r\n• Data-warehous...,• BI 및 ETL 관련 분야 경력 5년 이상이신 분이 필요해요.\r\n• DW 데...,• BI 툴 활용 및 Hadoop에 대한 연동을 이해하신 분이면 좋아요.\r\n• ...,"• 해당 직무는 수시채용으로, 채용 완료 시 공고가 마감될 수 있어요.\r\n• 지...",[성장을 위한 휴식]\r\n• 매년 복지포인트 200만원\r\n• 설 차례비 지급\...,"서울 중구 을지로100 파인에비뉴 B동 20층, 캐롯손해보험",[데이터],[BI 엔지니어]
1,(주)웅진,정규직,[POWER BI],NaN,"- MS Power Platform 프로젝트 수행 및 기술지원 (Automate, ...",【지원자격】 \r\n - 모집직급: 대리~과장 \r\n - MS Power Plat...,NaN,NaN,NaN,서울 중구 청계천로 24,"[개발, 데이터]","[클라우드 개발, BI 엔지니어]"
2,잡플래닛,정규직,"[데이터분석, BI, python, SQL, Tableau, POWER BI]",더 나은 선택은 없을까?\r\n 지금 이 순간에도 잡플래닛을 방문하는 월 300만명...,[조직소개]\r\n잡플래닛의 데이터 조직은 Data 1st전략으로 서비스의 핵심 자...,"[자격 조건]\r\n• SQL 상급, 파이썬 중급\r\n• Data Visualiz...","[우대 사항]\r\n• Statistics, Econometrics, Applied...",[전형 프로세스]\r\n• 서류전형 -> 1차 실무 인터뷰 -> 2차 협업부서 인터...,- 분 단위 시차 출퇴근제 (오전 7시~ 오전 10시 사이 자율 출퇴근)\r\n ...,"서울특별시 강남구 테헤란로 509 엔씨타워 I, 10층",[데이터],[BI 엔지니어]

In [37]:
# 컬럼별 nan 개수
for column_name in gongo.columns:
  print(column_name, gongo[column_name].isna().sum())

회사명 0
고용 형태 0
스킬 0
기업 소개 537
주요 업무 0
자격 요건 0
우대 사항 413
채용 절차 1930
복리후생 455
회사위치 36
직무_lv1 0
직무_lv2 0

### gongo 데이터셋

In [49]:
gongo['자격요건 및 우대사항'] = gongo['자격 요건'] + gongo['우대 사항']

In [51]:
# 사전
position = '담당업무|담당 업무|주요업무|주요 업무|직무설명|직무 설명|어떤 일을 하나요?|직무소개|직무 소개' # 주요 업무
qualification = '지원자격|지원 자격|필수조건|필수 조건|공통자격|공통 자격|자격요건|자격 요건|기술스택|기술 스택' # 자격 요건
prefer = '우대사항|우대사항' # 우대 사항

position_list = ['담당업무','담당 업무','주요업무','주요 업무','직무설명','직무 설명','어떤 일을 하나요?','직무소개','직무 소개','포지션 정보']
qualification_list = ['지원자격','지원 자격','필수조건','필수 조건','공통자격','공통 자격','자격요건','자격 요건','기술스택','기술 스택']
prefer_list = ['우대사항','우대 사항']

# company = '회사설명|회사 설명|기업 소개|기업소개|팀 소개|팀소개|조직소개|조직 소개' # 기업 소개
# hiring_process = '합류|채용절차|채용 절차' # 채용절차

In [31]:
# # 주요 업무 컬럼
# pos1 = gongo_nan['주요 업무'].str.contains(position)
# qual1 = gongo_nan['주요 업무'].str.contains(qualification)
# pref1 = gongo_nan['주요 업무'].str.contains(prefer)

# # 자격요건 및 우대사항 컬럼
# pos2 = gongo_nan['자격요건 및 우대사항'].str.contains(position)
# qual2 = gongo_nan['자격요건 및 우대사항'].str.contains(qualification)
# pref2 = gongo_nan['자격요건 및 우대사항'].str.contains(prefer)

In [52]:
# 주요 업무 컬럼
for i in range(len(gongo)):
  # 주요업무 셀에 position이 들어간 경우: 그 앞은 내용 자르기
  for pos_word in position_list:
    pos_word_index = gongo['주요 업무'][i].find(pos_word)
    if pos_word_index!=-1: # 주요업무에 다른 내용이 있는 경우
      gongo['주요 업무'][i] = gongo['주요 업무'][i][pos_word_index+len(pos_word):]

  # 주요업무 셀에 qualification이 들어간 경우: 그 뒤 내용 자르기\
  for qual_word in qualification_list:
    qual_word_index = gongo['주요 업무'][i].find(qual_word)
    if qual_word_index!=-1: # 주요업무에 다른 내용(qualication)이 있는 경우
      gongo['주요 업무'][i] = gongo['주요 업무'][i][:qual_word_index]

  # 주요 업무 셀에 prefer이 들어간 경우: 그 뒤 내용 자르기
  for prefer_word in prefer_list:
    prefer_word_index = gongo['주요 업무'][i].find(prefer_word)
    if prefer_word_index!=-1: # 다른 내용이 있는 경우
      gongo['주요 업무'][i] = gongo['주요 업무'][i][:prefer_word_index]

In [53]:
# 자격요건 및 우대사항 컬럼
# 자격요건 및 우대사항 셀에 qualification이 들어간 경우: 그 앞 내용 자르기
for i in range(len(gongo)):
  if pd.isna(gongo['자격요건 및 우대사항'][i]):
    continue
  else:
    for qual_word in qualification_list:
      qual_word_index = gongo['자격요건 및 우대사항'][i].find(qual_word)
      if qual_word_index!=-1: # 자격요건 및 우대사항 다른 내용(qualication)이 있는 경우
        gongo['자격요건 및 우대사항'][i] = gongo['자격요건 및 우대사항'][i][qual_word_index+len(qual_word):]

In [54]:
# preprocessed_gongo_final 저장
gongo.to_csv('./gongo_preprocessing1.csv', encoding="utf-8-sig", index=False)

In [56]:
gongo[:3]

,회사명,고용 형태,스킬,기업 소개,주요 업무,자격 요건,우대 사항,채용 절차,복리후생,회사위치,직무_lv1,직무_lv2,자격요건 및 우대사항
0,캐롯손해보험(주),정규직,"[Oracle, BI, SQL, dw, etl]","캐롯손해보험은 한화, SKT, 현대자동차, 알토스벤쳐스, 스틱인베스트먼트 등 대형 ...",• 캐롯 주행/계약 관련 지표 생성 및 제공해요.\r\n• Data-warehous...,• BI 및 ETL 관련 분야 경력 5년 이상이신 분이 필요해요.\r\n• DW 데...,• BI 툴 활용 및 Hadoop에 대한 연동을 이해하신 분이면 좋아요.\r\n• ...,"• 해당 직무는 수시채용으로, 채용 완료 시 공고가 마감될 수 있어요.\r\n• 지...",[성장을 위한 휴식]\r\n• 매년 복지포인트 200만원\r\n• 설 차례비 지급\...,"서울 중구 을지로100 파인에비뉴 B동 20층, 캐롯손해보험",[데이터],[BI 엔지니어],• BI 및 ETL 관련 분야 경력 5년 이상이신 분이 필요해요.\r\n• DW 데...
1,(주)웅진,정규직,[POWER BI],NaN,"- MS Power Platform 프로젝트 수행 및 기술지원 (Automate, ...",【지원자격】 \r\n - 모집직급: 대리~과장 \r\n - MS Power Plat...,NaN,NaN,NaN,서울 중구 청계천로 24,"[개발, 데이터]","[클라우드 개발, BI 엔지니어]",NaN
2,잡플래닛,정규직,"[데이터분석, BI, python, SQL, Tableau, POWER BI]",더 나은 선택은 없을까?\r\n 지금 이 순간에도 잡플래닛을 방문하는 월 300만명...,"]\r\n• 전사 Business Intelligence : Dashboard, R...","[자격 조건]\r\n• SQL 상급, 파이썬 중급\r\n• Data Visualiz...","[우대 사항]\r\n• Statistics, Econometrics, Applied...",[전형 프로세스]\r\n• 서류전형 -> 1차 실무 인터뷰 -> 2차 협업부서 인터...,- 분 단위 시차 출퇴근제 (오전 7시~ 오전 10시 사이 자율 출퇴근)\r\n ...,"서울특별시 강남구 테헤란로 509 엔씨타워 I, 10층",[데이터],[BI 엔지니어],"[자격 조건]\r\n• SQL 상급, 파이썬 중급\r\n• Data Visualiz..."